ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
    padding-left: 10px;
}

li a {
    display: block;
    color: #42404f;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
